#include "XULWinTetrisTestRC.h"
#include "WinVer.h"


//
// Set version info
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FF_PRERELEASE // Which bits are to be taken
 FILEFLAGS VS_FF_PRERELEASE // This is a pre-release version
 FILEOS VOS__WINDOWS32 // Built for Windows 32 bit OS
 FILETYPE VFT_APP // Type of this is Application
 FILESUBTYPE 0x0L // 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "StackedCrooked\0"
            VALUE "FileDescription", "XULWin Tetris AI Test Application\0"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "XULWinTetrisTest\0"
            VALUE "LegalCopyright", "Copyright (C) 2010 and beyond.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "XULWinTetrisTest.exe\0"
            VALUE "ProductName", "XULWinTetrisTest\0"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
END

//
// Set the tetris icon
//
TETRIS_ICON ICON "TetrisWindow.ico"